numpy
opencv-python-headless
ftfy
-e git+https://github.com/pharmapsychotic/BLIP.git@lib#egg=blip
transformers==4.25.1
tensorflow
diffusers
accelerate
timm
opencv_python
sahi
torch
ultralytics==8.0.4
ultralyticsplus==0.0.3
clip-interrogator==0.3.1
torch; sys_platform == 'darwin'
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.12.1+cu113; sys_platform != 'darwin'
torchvision==0.13.1+cu113; sys_platform != 'darwin'